.header {
    text-align: center;
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; */
}
.Harvey_img {
    /* border: solid; */
}
body {
    background-color: yellow;
}
/* .title_n_greet {
    border: solid;
} */
/* .title {
    /* border: solid; */
    /* color: red;
    text-decoration: underline;
} */
.greeting { 
    /* border: solid; */
    color: red;
}
.suggestion {
    text-decoration: underline;
    margin-bottom: 15%;
    color: red;
}
body {
    font-family: Playwrite DE Grund;
}