.Harvey_img{
    border: solid;
    text-align: right;
}
body {
    background-color: yellow;
}
.title {
    border: solid;
    color: red;
}
.greeting{
    border: solid;
}
.suggestion {
    text-decoration: underline;
}